In [27]:
import pandas as pd
import scipy as sp

path = "C:/Users/Leon/Desktop/37748_211217_aki_2490_BE1.xlsx"

In [3]:
df = pd.read_excel(path, index_col=0)
df.head()

          OC     UV   UV2      t
0.075  0.089  0.335  0.30  9.979
0.158  0.095  0.326  0.30  0.004
0.242  0.088  0.328  0.27  0.003
0.325  0.091  0.322  0.27  0.004
0.408  0.079  0.319  0.28  0.006

In [14]:
indizes = df[df.index < 5][["OC", "UV"]].apply(lambda s: s.argmax(), axis=0)
indizes

OC    49
UV    11
dtype: int64

In [24]:
indizes.values[1]-indizes.values[0]

np.int64(-38)

# integrate

In [29]:
srs = df["OC"].copy()
df2 = pd.DataFrame(srs)
df2["dt"] = df2.index
#pd.DataFrame(srs).merge(srs.reset_index().diff()) 
df2 = df2.diff().shift(-1)
df2["OC0"] = srs
df2.assign(trap = lambda x: x.dt*(x.OC0+x.OC/2)).sum()

OC         0.055000
dt       119.917000
OC0     2584.276000
trap     215.346736
dtype: float64

In [28]:
sp.integrate.trapezoid(df["OC"], x=df.index)

np.float64(215.34673650000002)

In [41]:
pd.DataFrame({"dS":srs, "dt": srs.index}).diff().shift(-1).assign(S=srs).assign(trap = lambda x: x.dt*(x.S+x.dS/2)).sum().trap

np.float64(215.34673649999996)